body { 
	background-color: black;
	background-image: url("../images/soccer_field.jpg"); 
}

.video_replay {
	position: absolute;
	top: 400px;
	width: 640px;
	height: 480px;
	transform: rotate(90deg) scale(1.2);
	/* border-width: 4px;
	border-style: solid; */
}

#video_replay_red {
	left: 120px;
	/* border-color: red; */
}

#video_replay_blue {
	right: 120px;
	/* border-color: blue; */
}

.score_line {
	position: absolute;
	top: 35px;
	width: 810px;
	height: 180px;
	opacity: 0.8;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

#red_score_line {
	left: 125px;
	background-color: red;
}

#blue_score_line {
	right: 125px;
	background-color: blue;
}

.score {
	position: absolute;
	top: 40px;
	color: black;
	font-size: 150px;
	font-family: verdana;
	font-weight: bold;
	text-shadow:
		-3px -3px 0 yellow,
		3px -3px 0 yellow,
		-3px 3px 0 yellow,
		3px 3px 0 yellow;
}

#red_score {
	left: 140px;
}

#blue_score {
	right: 140px;
}


#goal {
	position: absolute;
	top: 380px;
	left: 670px;
	display: none;
}